*{
    box-sizing: border-box;
}
.wrapper {
    margin-top: 30px;
    text-align: center;
}
.grid {
    max-width: 1200px;
    margin: auto;
}
.grid-item {
    float: left;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}
.grid-item img {
    width: 100%;
}
button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    border-radius: 100%;
    border: none;
    background-color: #b4b4b4;
    cursor: pointer;
    margin: 10px 0 ;    
}
button:hover{
    animation-name: scaleBiggerAndSmaller;
    animation-duration: 1s;
}
@keyframes scaleBiggerAndSmaller {
    50% {
        transform:scale(1.1);    
    }
    100% {
        transform:scale(1);
    }
}